:root {
  --bg-color: #0e1217;
  --primary-color: #900dcf;
  --secondary-color: #e05cf8;
  --primary-font: "Nunito", sans-serif;
}

* {
  color: white;
}

.page-container {
  font-optical-sizing: auto;
  font-family: var(--primary-font);
  background-color: var(--bg-color);
}

.page-container > .header {
  color: white;
}

.tabs > li > * {
  cursor: pointer;
  width: fit-content;
  color: var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.tabs > li {
  display: flex;
  align-items: center;
}

.tabs > li > span:hover {
  color: var(--primary-color);
}

.page-container > .tabs > li > button {
  color: white;
}
